*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#menu-h ul{
   list-style: none;
   padding: 0; 
   
}

#menu-h ul li{
    display: inline;
}

#menu-h ul li a{
    display: inline-block;
    color:black;
    padding: 20px;
    text-decoration: none;
    transition: background, 4s
}

#menu-h ul li a:hover {
    background-color: blue;
}